.box{
    border: 2px solid rgb(11, 1, 1);
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    background-color: rgb(231, 136, 136);
}
#btn1 {
    text-align: center;
    padding: 5%;
    display: flex;
    justify-content: center;
    margin-left: 2%;
    color: rgb(138, 82, 8);
    background-color: rgb(222, 195, 247);
}
